absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyascii==0.3.2
appdirs==1.4.4
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
Babel==2.15.0
bangla==0.0.2
black==19.10b0
blinker==1.8.2
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
cachetools==5.4.0
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.18.1
colorama==0.4.6
confection==0.1.5
contourpy==1.2.1
coqpit==0.0.17
cycler==0.12.1
cymem==2.0.8
Cython==3.0.10
dataclasses==0.6
dateparser==1.1.8
decorator==5.1.1
Distance==0.1.3
distlib==0.3.8
docopt==0.6.2
eer==0.0.2
einops==0.8.0
encodec==0.1.1
entrypoints==0.3
eulxml==1.1.3
exceptiongroup==1.2.0
filelock==3.13.3
flake8==3.7.9
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.53.0
frozenlist==1.4.1
fsspec==2024.3.1
g2p-en==2.1.0
g2pkk==0.1.2
g2pM==0.1.2.5
gast==0.6.0
google-auth==2.32.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.3
grpcio==1.64.1
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
h5py==3.11.0
hangul-romanize==0.1.0
huggingface-hub==0.23.5
HyperPyYAML==1.2.2
identify==2.5.35
idna==3.6
inflect==7.3.1
iniconfig==2.0.0
itsdangerous==2.2.0
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.3
joblib==1.3.2
jsonlines==1.2.0
k2==1.23.4
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
langcodes==3.4.0
language_data==1.2.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.0
llreval==0.0.3
llvmlite==0.43.0
lxml==5.2.2
marisa-trie==1.2.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mccabe==0.6.1
mdurl==0.1.2
ml-dtypes==0.4.0
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
murmurhash==1.0.10
namex==0.0.8
networkx==2.8.8
nltk==3.8.1
nodeenv==1.8.0
num2words==0.5.13
numba==0.60.0
numpy==1.22.0
oauthlib==3.2.2
opt-einsum==3.3.0
optree==0.12.1
packaging==24.0
pandas==1.5.3
pathspec==0.12.1
pillow==10.3.0
pip==24.0
platformdirs==4.2.0
pluggy==1.4.0
ply==3.11
pooch==1.8.2
pre-commit==3.7.0
preshed==3.0.9
protobuf==4.25.3
psutil==6.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.5.0
pycparser==2.21
pydantic==2.8.2
pydantic_core==2.20.1
pyflakes==2.1.1
Pygments==2.18.0
pygtrie==2.5.0
pynndescent==0.5.13
pyopenjtalk==0.3.4
pyparsing==3.1.2
pypinyin==0.51.0
pysbd==0.3.4
pytest==7.4.0
python-crfsuite==0.9.10
python-dateutil==2.9.0.post0
pytz==2024.1
pyworld==0.3.4
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==2.0.0
rich==13.7.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
safetensors==0.4.2
scikit-learn==1.5.1
scipy==1.11.4
sentencepiece==0.2.0
setuptools==69.2.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
soundfile==0.12.1
soxr==0.3.7
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==1.0.0
srsly==2.4.8
SudachiDict-core==20240409
SudachiPy==0.6.8
sympy==1.12
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.17.0
tensorflow-addons==0.19.0
tensorflow-gpu==2.8.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
TensorFlowTTS==0.0
termcolor==2.4.0
TextGrid==1.6.1
tf-estimator-nightly==2.8.0.dev2021122109
thinc==8.2.5
threadpoolctl==3.5.0
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
torch==2.2.1
torchaudio==2.2.1
tqdm==4.66.2
trainer==0.0.36
transformers==4.39.1
TTS==0.22.0
typed-ast==1.5.5
typeguard==4.3.0
typer==0.12.3
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
umap-learn==0.5.6
Unidecode==1.3.8
urllib3==2.2.1
virtualenv==20.25.1
wasabi==1.1.3
weasel==0.4.1
wer==0.1.0
Werkzeug==3.0.3
wheel==0.42.0
wrapt==1.16.0
yamllint==1.23.0
yarl==1.9.4
